<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<form th:action="@{/project/add}" th:object="${project}" method="post">

    <input type="hidden" th:field="*{id}"/>
    Department Name: <input type="text" th:field="*{name}"/> <br/>
    Number: <input type="text" th:field="*{number}"/> <br/>
    Location: <input type="text" th:field="*{location}"/> <br/>

    <input type="submit" value="save"/>
</form>

</body>
</html>